* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
.red-hat-text {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.prosto-one-regular {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

body {
  background-color: #000;
}
.all-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-content h2 {
  color: #fff;
}
.header-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #04307cad;

  width: -webkit-fill-available;
  height: auto;
}
img.logo {
  height: 4rem;
  margin-top: 0.4rem;
  margin-left: 2rem;
}
#logo {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
}

.principal-image {
  width: 100%;
}

.New-planet {
  text-align: center;
}
h1 {
  color: #fff;
}
#firstSeen {
  position: absolute;
  background: transparent;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 0.5rem;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  height: 44.7rem;
  backdrop-filter: blur(20px);
  justify-content: center;
}
.AbyssalisTitle {
  font-size: 4rem;
}
.sbT {
  font-weight: 400;
  font: 1rem;
}
@keyframes slideDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}
.speciment-container-all {
    width: -webkit-fill-available;
    height: auto;
    display: flex;
    background-color: #000;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.speciment-image {
    width: calc((100% / 7) - 1rem); 
    height: 15rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.speciment-image.active {
  background-color: #393e47;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 10px solid #393e47;
  position: relative;
  margin-bottom: 0;
}

.container-expanded {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  background-color: #393e47;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  position: relative;
  top: -1rem;
  width: calc(100% - 1rem);
  margin-left: 0.5rem;
}
.container-expanded.show {
    animation-name: slideDown;
}
.container-expanded.hide {
    animation-name: slideUp;
}
.container-description {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.container-description p {
  font-size: 1.5rem;
}
img.image-expanded {
  max-width: 70rem;
  border-radius: 1rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.h2-footer {
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
}
#whoAreWe {
  padding-top: 2rem;
}
.text-footer {
  color: #fff;
  padding: 3rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
div.footerInfo {
  width: -webkit-fill-available;
  background-color: #05193dc9;
  margin: 1rem;
  border-radius: 2rem;
}
#footerContainer {
  display: flex;
  padding: 5rem;
}
.footer {
  margin-top: 1rem;
  flex-direction: column;
}
.warning {
  color: gray;
  text-align: center;
  padding-bottom: 1rem;
}
@media (min-width:1820px) {
    #firstSeen{
        top: 60%;
        height: 72rem;
    }    
}
.header-options {
  list-style: none;
  padding: 0;
  margin-right: 2rem;
  display: flex;
  color: #fff;
  li {
    padding-left: 3rem;
    cursor: pointer;
  }
}
nav {
  display: flex;
  width: -webkit-fill-available;
}
@media (max-width:1366px) {
  #firstSeen {
    top: 68.298%;
    h1 {
      font-size: 3.5rem;
    }
  }
  .speciment-image {
    height: 10rem;
  }
  img.image-expanded {
    max-width: 40rem;
  }
  .container-description p {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .text-footer {
    font-size: 1.2rem;
  }
}